section {
    background-color: beige;
}

.container {
    background-color: aqua;
    text-align: center;
    
    height: 100%;
}

.game-screen {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: cadetblue;
}

.gameboard {
    display: flex;
    justify-content: center;
    flex-direction: space-between;
    flex-wrap: wrap;
    width: 800px;
    background-color: bisque;
    padding: 0 50px 0 50px;
} 

.card {
    border: 1px solid black;
    margin: 10px;
    border-radius: 10%;
    height: 100px;
    width: 100px;
}

#score {
    border: none;
    background-color: inherit;
    text-align: center;
}